/Users/markstachowski/Applications*
/Users/markstachowski/Desktop/
/Users/markstachowski/Documents/
/Users/markstachowski/Downloads/
/Users/markstachowski/Dropbox/
/Users/markstachowski/Library/
/Users/markstachowski/Movies/
/Users/markstachowski/Music/
/Users/markstachowski/Parallels/
/Users/markstachowski/Pictures/
/Users/markstachowski/.viminfo
/Users/markstachowski/Private/
